body {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-family: "Montserrat", sans-serif;
}

footer {
  text-align: center;
  margin-top: auto;
}
